body{
    font-family: Arial, Helvetica, sans-serif;
}
.a{
    background-color: aqua;
    text-align: center;
    font-size: 32px;
    padding: 22px;
}
.b{
    background-color: pink;
    font-size: 24px;
    font-style: italic;
    padding: 18px;
}
.c{
    background-color: aquamarine;
    font-size: 24px;
    padding: 12px;
    
}